@page
@model PeopleApp.Pages.TestModel
@{
    ViewData["Title"] = "Test";
    var watch = System.Diagnostics.Stopwatch.StartNew();
    int i = 0;

}

<h2>Test</h2>

@foreach (var user in Model.Output)
{
<p>
    @i  -  @user.Givenname <stars level="@user.Age % 10"></stars>
    
</p>
    i++;
}

@{
    watch.Stop();
    var elapsedMs = watch.ElapsedMilliseconds;
}

Time elasped : @elapsedMs
